/* #e4dac3 #f1e3bc #bfe4d2 #f0d6d8 #3f382f */
* {
  text-decoration: none;
}

nav {
  display: flex;
  padding: 5px;
  width: 100vw;
  justify-content: space-between;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 100;
  font-weight: 900;
  color: #524f4f;
}


form,
form label,
form input,
form textarea,
h4,
form button {
  margin: 0 auto;
  width: 60%;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}


form button {
  background-color: #e4dac3;
  color: #524f4f;
  font-family: "Montserrat";
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 20px 40px;
  margin: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
form button:hover {
  color: #3f382f;
  background-color: #f0d6d8;
}

.home {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  background-color: #bfe4d2;
  font-family: "Montserrat";
}

.home h1 {
  font-family: "Hachi Maru Pop", cursive;
  font-size: 75px;
  margin-bottom: 10px;
  color: #2f2c2c;
}

.home p {
  font-weight: 74000;
  font-size: 15px;
}

.home button {
  background-color: #e4dac3;
  color: #524f4f;
  font-family: "Montserrat";
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 20px 40px;
  margin: 20px;
}

.home button:hover {
  background-color: #bfe4d2;
}


.app {
  height: 150vh;
  background-color: #f0d6d8;
}

.recipes {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #524f4f;
}
.recipes p {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #524f4f;
}

.recipes h4 {
  background-color: #e4dac3;
  color: #524f4f;
  font-family: "Montserrat";
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 20px 20px;
  margin: 20px;
}


.recipes label {
  background-color: #e4dac3;
  color: #524f4f;
  font-family: "Montserrat";
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
}

.back button {
  background-color: #e4dac3;
  color: #524f4f;
  font-family: "Montserrat";
  border-radius: 20px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  outline: #524f4f;
  transition: all 0.2s;
}
.back button:hover {
  color: #3f382f;
  background-color: #f0d6d8;
}

footer {
  height: auto;
  background-color: #f0d6d8;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #524f4f;
}

footer p {
  margin: 0;
  font-family: "Hachi Maru Pop", cursive;
  font-size: 10px;
  line-height: 40px;
}
  
  /* @media only screen and (max-device-width: 480px) {
styles for mobile browsers smaller than 480px; 
    (iPhone)
footer p {
    font-size: 10px;
  }
} */

.allrecipes img {
  width: 275px;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .home {
    padding: 25px 0px;
  }
  form,
form label,
form input,
form textarea,
h4,
form button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.allrecipes img {
  width: 300px;
  height: 300px;
  border-style: dotted;
}
.home {
  background-color: #f1e3bc;
}

.recipes h4, .recipes p{
  font-size: 20px;
 
}
}

@media (max-device-width: 480px) {
  .home {
    font-size: 50px;
  }

  .home p, .recipes label, .recipes, .recipes p, .recipes h4 {
    font-size: 11px;
    line-height: 20px;
  }
  .allrecipes img {
    width: 100px;
  }
}