/* #e4dac3 #f1e3bc #bfe4d2 #f0d6d8 #3f382f */
* {   text-decoration: none;
}

.app {
  height: 100vh;
}

nav {
  display: flex;
  padding: 5px;
  width: 100vw;
  /* box-sizing: border-box; */
  justify-content: space-between;
  text-decoration: none;
  /* border-bottom: 1px solid transparent; */
  /* transition: all 0.2s;  */
  font-family: 'Montserrat';
    font-weight: 100;
    /* font-size: 20px; */
  font-weight: 900;
  /* font-style:  #2F2C2C; */
  color: #524F4F;
  
  
 
 
}
/* nav:hover {
  font-weight: 400;
 background-color: white;
} */

form,
form label,
form input {
  /* outline: none;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 20px; */
   /* border-radius: 20px; */
  /* padding: 20px 40px;
  margin: 20px;  */
  /* margin: 25px 0px;
  padding: 25px 70px; */
  /* margin: 5px 0; */
  font-family: "Montserrat";
  /* width: 50vw; */
  /* box-sizing: border-box; */
  /* width: 50vw; */
  /* min-width: 100px; */
  /* margin: 20px auto 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  outline: none;
  border: none;
  /* background-color: #f0d6d8; */
}

  
  

/* form input:focus,
form button:focus {
  outline: 1px solid #f0d6d8;
} */

form h4 {
  font-family: "Montserrat";
  font-weight: 700;
  color: #3f382f;
  text-align: center;
}
form label {
  color:  #3f382f;
  font-weight: 600;
  /* text-shadow: 3px 3px 6px #bfe4d2; */
  text-align: center
}
form input {
  font-family: "Montserrat";
   border-radius: 20px; 
    padding: 20px 40px;
    margin: 20px; 
  font-weight: 700;
  background-color: #e4dac3;
  color: #3f382f;
  /* transition: all 0.2s; */
  
}

form button {
  background-color: #e4dac3;
    color: #524F4F;
    font-family: 'Montserrat';
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 20px;
  }

form button:hover {
  color:#3f382f;
  background-color: #f0d6d8;
}

.home {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  background-color: #bfe4d2;
  font-family: 'Montserrat';
  /* font-weight: 100; */
  /* font-size: 20px; */
  }

  .home h1{
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 75px;
    margin-bottom: 10px;
    color:  #2F2C2C;
  }

  .home p {
    
    font-weight: 74000;
    /* line-height: 23px; */
    font-size: 15px;
  }
  
  .home button {
    background-color: #e4dac3;
    color: #524F4F;
    font-family: 'Montserrat';
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 20px;
  }
  
  .home button:hover{
    background-color:#bfe4d2
  }
  
  @media only screen and (max-width: 768px) {
    /* default iPad screens */
  .home {
    padding: 25px 0px;
   
  }
  }
  
  @media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; 
    (iPhone) */
  .home {
    font-size: 50px;
  }
  
  .home p {
    font-size: 11px;
    line-height: 20px;
  }
}
  .app {
    background-color: #f0d6d8;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/95/86/mother-feeding-child-icon-vector-18109586.jpg);
    background-repeat: no-repeat;
  background-size: 200px, 200px;
  /* opacity: 0.6; */
 

  }

  .recipes {
    font-family: 'Montserrat';
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #524F4F;

  }

  .recipes h4 {
    background-color: #e4dac3;
    color: #524F4F;
    font-family: 'Montserrat';
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 20px;
  }

  .recipes link {
    color: #524F4F;
  }
  .recipes label {
    background-color: #e4dac3;
    color: #524F4F;
    font-family: 'Montserrat';
    outline: none; 
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 20px; 
  }

  .back button {
    background-color: #e4dac3;
    color: #524F4F;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
   
  }

  footer{
    height: 40px;
    background-color: rgba(28, 28, 28, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #f0d6d8;
  }
  
  footer p{
    margin: 0;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 15px;
    line-height: 40px;
  }
  
  @media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; 
    (iPhone) */
  footer p {
    font-size: 10px;
  }
}